.cardWrapper {
  display: flex;
  flex-flow: row nowrap;
  max-width: 600px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: rgb(32, 35, 41);
  color: white;
  overflow: hidden;
}

.cardWrapper li {
  list-style-type: none;
}

.characterName {
  font-size: 2em;
  font-weight: bold;
}