.componentWrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  width: 100%;
}

.filterForm {
  display: flex;
  flex-flow: column nowrap;
}

.filterFormInput {
  width: 200px;
  background-color: white;
}

.selectRoot {
  composes: filterFormInput;
}

.charactersListWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}